body {
  overflow: hidden;
  background-color: #1a1a1a;
}

#svg {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}


.node-container {
  cursor: move;
}

.node-background {
  fill: #1a1c1d;
}

.node-header {
  fill: #2196F3;
}

.node-header .header-title {
  font-size: 20px;
  fill: #fff;
  text-anchor: middle;
}

.node-content {
  fill: #3C3C3C;
}

.port {
  cursor: pointer;
}

.port-scrim {
  fill: transparent;
}

.port-outer {
  fill: #777777;
}

.port-inner {
  fill: #202020;
}

.port-label {
  font-size: 12px;
  fill: #fff;
}

.input-field .port-label {
  text-anchor: start;
}

.output-field .port-label {
  text-anchor: end;
}

.connector-handle {
  fill: rgb(43, 107, 18);
}
.connector-handle:hover{
  fill: rgb(67, 232, 2);
}

.connector-path {
  stroke: rgb(2, 178, 232);
  stroke-width: 4;
  fill: none;
}
.connector-path:hover {
  stroke: rgb(153, 3, 48);
  stroke-width: 6;
  fill: none;
}

.connector-path-outline {
  stroke: #333;
  stroke-width: 6;
  fill: none;
}

/*side navbar*/
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar {
min-width: 250px;
max-width: 250px;
min-height: 100vh;
}
a[data-toggle="collapse"] {
position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
#sidebar {
  margin-left: -250px;
}
#sidebar.active {
  margin-left: 0;
}
}
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em;
  padding-left: 30px ;
  background: #6d7fcc;
}
#bin {
  position: fixed;  
  left: 50%;

  fill: white;
  stroke: white;
  stroke-width: 1px;
}